*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Poppins", system-ui;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup{
    height: 700px;
    width: 450px;
    border: 1px solid rgba(128, 128, 128, 0.562);
    border-radius: 10px;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
.signup_box{
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.signup h2{
    font-weight: 500;
    font-size: 2.22rem;
}
.signup input{
    height: 40px;
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid rgba(128, 128, 128, 0.562);
}
.signup button{
    height: 40px;
    width: 100%;
    background-color: rgb(255, 187, 0);
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.signup a{
    color: #0066c0;
}
.play_box{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.562);
    gap: 10px;
}

.footer{
    height: 100px;
    width: 450px;
    display: flex;
    flex-direction: column;
}
.links{
    height: 50%;
    width: 100%;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0066c0;
}
.links a{
    color: #0066c0;
}
.copyright{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}